<form action="/add" method="post">
  <label for="first">First Name:</label>
  <input type="text" id="first" name="first" />
  <label for="last">Last Name:</label>
  <input type="text" id="last" name="last" />
  <label for="number">Number:</label>
  <input type="text" id="number" name="number" />
  <input type="submit" value="Submit">
</form>
